<% quantity = line_item.quantity.to_i %>

<% if product = line_item.product %>
  <% item_total = product.price * quantity %>

  <tr>
    <td>
      <h3><%= product.name %></h3>
      <br>
      <p><%= product.description %></p>
    </td>
    <td>
      <%= product.price %>
    </td>
    <td>
      <%= quantity %>
    </td>
    <td>
      <%= item_total %>
    </td>
  </tr>
<% end %>
